* {
    font-family: "Lucida Console", "Courier New", monospace, bold;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#mc-version{
    color:silver;
}
/*banner at top of page*/
#banner {
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 200px;
    z-index: -1;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}

#body{
    margin-left: auto;
    margin-right: auto;
    width: 63%;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0;
}

#navbar{
    background-color: rgba(255, 255, 255, 0.5);
    width: 63%;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    position: absolute;
    top: 40px;
    left: 40px;
    z-index: 1;
}

/*background image*/
body {
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 
